<h1>Response</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Text</th>
            <td>{{ entity.text }}</td>
        </tr>
        <tr>
            <th>Isactive</th>
            <td>{{ entity.isActive }}</td>
        </tr>
        <tr>
            <th>Date_create</th>
            <td>{{ entity.datecreate|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('response') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('response_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('response_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
